{% extends 'main.html' %}

{% block content %}

<!-- <h1>Project Form</h1>
<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit">
</form> -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Input:Text -->
                 {% for i in form %}
                <div class="form__field">
                    <label for="formInput#text">{{i.label}} </label>
                    {{i}}
                </div>
                {% endfor %}

                <div class="form_field">
                    {% for tag in project.tags.all %}
                    <div class = "project-tag tag tag--pill tag--main" data-tag ="{{tag.id}}" data-project="{{project.id}}">{{tag.name}} &#215;</div>
                    {% endfor %}
                    <div>
                    <label for="formInput#text">Tags</label></div>
                    <textarea class="input" name="newtags" placeholder="Add tags here ..."></textarea>
                </div>



                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock %}
